<script>
  $('[data-toggle=tab]').click(function () {
    if ($(this).parent().hasClass('active')) {
      $($(this).attr("href")).toggleClass('active');
    }
  })
</script>
<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-lg-push-3 col-lg-9 ">
          <div class="container-fluid">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">My Sailings</a></li>
                <li><a href="#tab2" data-toggle="tab">My Events</a></li>
                <li><a href="#tab3" data-toggle="tab">Hosted Events</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">

                  <!----------- TAB 1 SAILINGS ------------->
                  <% if @sailings.empty? %>
                      <p>You have not registered for any sailings yet! You must create a detailed profile to do
                        this.</p>
                  <% end %>
                  <table class="table">
                    <% @sailings.each do |sail| %>
                    <tr>
                      <td width="10"><img src="http://placehold.it/100x100"></td>
                      <td>
                        <a href="/sailings/<%= sail.id %>"><span class="ship-name"><%= sail.cruise_ship_name %></span></a><br><br>
                        Destination: <%= sail.destination_identifier %>
                      </td>
                      <td>
                        <div style="margin-top: 2em">
                          <div class="row">
                            <div class="col-md-4">
                              Departure:
                            </div>
                            <div class="col-md-8">
                              <%= sail.departure_date.to_formatted_s(:long) %>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              Return:
                            </div>
                            <div class="col-md-8">
                              <%= sail.return_date.to_formatted_s(:long) %>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" class="btn btn-danger" href="/leavesailing/<%=   PartyRegister.joins(:travelling_party => :sailing).find_by("travelling_parties.sailing_id" => sail.id, "party_registers.user_id" => current_user.id).id %>"><span>leave</span></a>
                      </td>
                    </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane" id="tab2">

                  <!----------- TAB 2 MY EVENTS ------------->
                  <table class="table">
                    <% if @event_register.empty? %>
                        <p>You do not have any events yet! You must create a detailed profile and join a sailing before joining an event.</p>
                    <% end %>
                    <% @event_register.each do |event| %>
                        <tr>
                          <td width="10"><%= image_tag event.image.url(:small)%></td>
                          <td>
                            <a href="events/<%= event.id %>"><h4 class="ship-name"><%= event.event_name %></h4></a>
                            <div class="row">
                              <div class="col-md-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-6">
                                <%= event.start_date.to_formatted_s(:long) %> - <%= event.end_date.to_formatted_s(:long) %>
                              </div>
                              <div class="col-md-1">
                                <i class="fa fa-ship" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-4">
                                <a href="sailings/<%=event.sailing.id %>"><span class="ship-name"><%= event.sailing.cruise_ship_name %></a> </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-11">
                                <%= event.location %>
                              </div>
                            </div>
                          </td>
                          <td>
                            <% @ev = EventRegister.find_by(event_id:event.id,user_id:current_user.id) %>
                            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" class="btn btn-danger" href="/eventsdelete/<%= @ev.id  %>"><span>unjoin</span></a>
                          </td>
                        </tr>
                    <% end %>
                  </table>

                </div>
                <div class="tab-pane" id="tab3">
                  <div class="col-md-2 event-filter">
                    <%= link_to 'New Event', new_event_path, class: "btn btn-success", id: 'new-event' %>
                  </div>
                  <!----------- TAB 3 HOSTED EVENTS ------------->

                  <table class="table">
                    <% @events.each do |event| %>

                        <tr>
                          <td width="10"><%= image_tag event.image.url(:small)%></td>
                          <td>
                            <a href="events/<%= event.id %>"><h4 class="ship-name"><%= event.event_name %></h4></a>
                            <div class="row">
                              <div class="col-md-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-6">
                                <%= event.start_date.to_formatted_s(:long) %> - <%= event.end_date.to_formatted_s(:long) %>
                              </div>
                              <div class="col-md-1">
                                <i class="fa fa-ship" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-4">
                                <a href="sailings/<%=event.sailing.id %>"><span class="ship-name"><%= event.sailing.cruise_ship_name %></a> </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                              </div>
                              <div class="col-md-11">
                                <%= event.location %>
                              </div>
                            </div>
                          </td>
                          <td>
                            <% @ev = Event.find_by(id:event.id,creator_id:current_user.id) %>
                            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" class="btn btn-danger" href="/events/<%= @ev.id  %>"><span>Delete</span></a>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                  <% if @events.empty? %>
                      <p>You do not have any hosted events yet! You must create a detailed profile, then join a sailing
                        to do this.</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-pull-9 col-lg-3  profile-info">
          <%= image_tag @detailed_user.avatar.url(:thumb), id: "dashboard-avatar" %>
          <div style="text-align: center; margin-left: 2em; margin-top: 1em">
            <% if @user.detailedUsers == true %>
              <a href="/profile/<%= @user.id %>"><span class="ship-name"><h2><%= current_user.name %></h2></span></a>
            <% end %>
            <% if @user.detailedUsers || @user.admin %>
                <a href="/editprofile/<%= @user.id %>"><span class="ship-name"><h3>Edit Profile</h3></span></a>
            <% end %>
            <% if @user.detailedUsers == false && @user.admin == false %>
                <a href="/editprofile/<%= @user.id %>"><span class="ship-name"><h3>Create Detailed Profile</h3></span></a>
            <% end %>
            <a href="/mailbox/inbox" class="btn btn-primary">Messages
              <span class="badge"><%= unread_messages_count %></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>