<!--<h1>Hello <%= current_user.name %></h1>-->
<script>
  $('[data-toggle=tab]').click(function(){
    if ($(this).parent().hasClass('active')){
      $($(this).attr("href")).toggleClass('active');
    }
  })
</script>
<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-lg-push-4 col-lg-8 ">
          <div class="container-fluid">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">My Sailings</a></li>
                <li><a href="#tab2" data-toggle="tab">My Events</a></li>
                <li><a href="#tab3" data-toggle="tab">Hosted Events</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">

                  <!----------- TAB 1 SAILINGS ------------->
                  <table class="table">
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <a href="sailings/1"><span class="ship-name">Celebrity Infinity</span></a><br><br>
                        <h3>Sailing in 30 days!</h3> <br>
                        Come back new from a cruise vacation on the Celebrity Infinity,
                        one of the stars of the destination that bears her name.
                        At her launch in 2004, this incredible cruise ship introduced Movies Under the Stars - a giant
                        poolside movie theater featuring first run movies, concerts and sporting events.
                        Here you can relax in a cushioned lounger with freshly-popped,
                        complimentary popcorn under the night sky. Onboard, guests can also enjoy a variety of
                        street performing acts in the Italian-inspired Piazza, indulge in a soothing massage
                        from an outdoor cabana at The Sanctuary, or savor a premium steak cooked to
                        order in the Crown Grill.
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <a href="sailings/2"><span class="ship-name">Celebrity Solstice</span></a><br><br>
                        <h3>Sailing in 91 days!</h3>
                        Featuring our latest innovations, Celebrity Solstice is one of the largest cruise ships,
                        with room for 3,080 guests. From her nearly 900 balconies, you can enjoy sweeping views of
                        romantic landscapes across the world.  After experiencing the relaxed comfort of our intimate
                        onboard venues, however, you may not want to explore the beauty ashore! The serenity of The
                        Sanctuary and the casual street café atmosphere of the Piazza may just reel you in for the
                        day, while your nights might be filled with the great tasting food offered in the Crown Grill
                        followed by a first-run film at Movies Under the Stars
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <a href="sailings/3"><span class="ship-name">Star Princess</span></a><br><br>
                        <h3>Sailing in 156 days!</h3>
                        Star Princess is one of just two cruise ships in the Princess fleet specially built to sail
                        through the Panama Canal!  Ninety percent of her staterooms offer ocean views, with 700
                        balconies available, perfect for witnessing the engineering marvel of the Canal.  Spend the
                        night watching a movie, concert or sporting event outdoors in a plush lounge chair at Movies
                        Under the Stars and come back new after a visit to The Sanctuary, our tranquil haven just
                        for adults. Unique to Star Princess and her sister cruise ship, the Bayou Café and
                        Steakhouses features live jazz music and flavorful New Orleans-inspired cuisine.
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </td>
                    </tr>
                  </table>

                </div>
                <div class="tab-pane" id="tab2">

                  <!----------- TAB 2 MY EVENTS ------------->
                  <table class="table">
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <span class="ship-name">Comedy Club Night</span><br><br>

                        <p>Come out and enjoy our lively comedy night!</p>
                        <br>
                        Age group: Adults <br>
                        Host: Luke Skywalker <br>
                        Sailing: Celebrity Infinity <br>

                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Leave</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <span class="ship-name">IMAX Movie Night</span><br><br>

                        <p>Enjoy our large selection of IMAX movies in our state of the art facility!</p>
                        <br>
                        Age group: All ages <br>
                        Host: Leia Organa <br>
                        Sailing: Celebrity Infinity <br>

                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Leave</button>
                      </td>
                    </tr>
                    <tr>
                      <td><img src="https://placeimg.com/100/100/tech" alt="..."><br></td>
                      <td class="sailing-info">
                        <span class="ship-name">Mixologist Competitions</span><br><br>

                        <p>Test your drink making skills in a fun environment with our mixologist masters!</p>
                        <br>
                        Age group: 18+ <br>
                        Host: Darth Vader <br>
                        Sailing: Celebrity Infinity <br>

                      </td>
                      <td>
                        <button type="button" class="btn btn-danger">Leave</button>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="tab-pane" id="tab3">

                  <!----------- TAB 3 HOSTED EVENTS ------------->

                  <table>
                    <thead>
                    <tr>
                      <th colspan="3"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                      <th>Event name</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Location</th>
                      <th>Description</th>
                      <th>Max Participants</th>
                      <th>Ship Name</th>
                    </tr>
                    <!-- debug Event.select("*").joins(:users) -->
                    
                    <% @events.each do |event| %>
                        <tr>

                          <td><%= event.event_name %></td>
                          <td><%= event.try(:start_date).try(:strftime, "%F %I:%M%p") %></td>
                          <td><%= event.try(:end_date).try(:strftime, "%F %I:%M%p") %></td>
                          <td><%= event.location %></td>
                          <td><%= event.description %></td>
                          <td><%= event.max_participants %></td>
                          <td><%= event.sailing.cruise_ship_name %></td>
                          <% if false %>
                              <td><%= link_to 'Show', sailing %></td>
                              <td><%= link_to 'Edit', edit_sailing_path(sailing) %></td>
                              <td><%= link_to 'Destroy', sailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          <% end %>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-pull-8 col-lg-4  profile-info">
          <img class="avatar" src="https://placeimg.com/240/270/people" alt="..."><br>
          <a href="/profile/<%=@user.id%>"><h2><%= current_user.name %></h2></a>
          <a href="/profileForm/1"><h3>Edit Profile</h3></a>
          <a href="/mailbox/inbox" class="btn btn-primary">Messages <span class="badge">7</span></a>
        </div>
      </div>
    </div>
  </div>
</div>