<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-lg-push-4 col-lg-8 ">
          <h2 id="name-h2"><%= @user.name %></h2>
          <hr class="hr-line">
          Location: <%= @detailed_user.city %>, <%= @detailed_user.country %>
          <br><br>
          <h3>Introduction</h3>
          <%= @detailed_user.description %>
          <hr class="hr-line">
          <h3>Sailings</h3>

          <table class="table profile-table">

            <% @sailings.each do |s| %>
            <tr>
              <td width="10"><img src="http://placehold.it/100x100" alt="..."><br></td>
              <td class="sailing-info">
                <a href="/sailings/<%= s.id %>"><span class="ship-name"><%= s.cruise_ship_name %></span></a><br>
                <%= s.cruise_ship_company%> <br>
                Departure: <%= s.departure_date.to_formatted_s(:long) %> <br>
                Return: <%= s.return_date.to_formatted_s(:long) %>
              </td>
            </tr>
            <tr>
              <td width="10"></td>
              <td>
                <table class="table profile-table">
                  <th></th>
                  <th>
                    Events Joined
                  </th>
                  <% @event = Event.joins(:event_registers).where("event_registers.user_id" => @user.id, :sailing_id => s.id, :start_date => s.departure_date..s.return_date) #get events on this sailing that the user joined %>
                  <% @event.each do |e| %>
                  <tr>
                    <td width="10"><%= image_tag e.image.url(:small), size: '40x40' %></td>
                    <td>
                      <a href="/events/<%= e.id %>"><span class="event-list"><%= e.event_name %></span></a>
                    </td>
                  </tr>
                  <% end %>
                </table>
              </td>
            </tr>
            <% end %>
          </table>
          <hr class="hr-line">
        </div>
          <div class="col-lg-pull-8 col-lg-4  profile-info">
            <%= image_tag @detailed_user.avatar.url(:thumb) , class: 'avatar'%><br><br><br>
            <%= form_tag(new_conversation_path) do %>
                <input name="recipients[]" type="hidden" value="<%= @detailed_user.user_id %>"/>
                <%= submit_tag("Send a message", class: "btn btn-primary") %>
            <% end %>
            <hr class="hr-line-2">
            <h3><%= @detailed_user.first_name %> <%= @detailed_user.last_name %></h3>
            <h4>Languages Spoken:</h4>
            <%= @detailed_user.primary_language %> <br>
            <%= @detailed_user.secondary_language %> <br>
            <h4>Personal Info:</h4>
            <%= @detailed_user.birth_day.strftime("%B %d, %Y") %> <br>
            <%= @detailed_user.gender %> <br>
        </div>
      </div>
    </div>
  </div>
</div>
