<script type="text/javascript">

  $('#myCarousel').carousel({
    interval: 5000
    , pause: 'hover'
    , wrap: true
  });


  $('.carousel .item').each(function () {
    var next = $(this);
    var last;
    for (var i = 0; i < 2; i++) {
      next = next.next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }

      last = next.children(':first-child').clone().appendTo($(this));
    }
    last.addClass('rightest');

  });
</script>
<!-- CAROUSEL SECTION -->
<div class="carousel slide" id="myCarousel" data-ride="carousel" data-wrap="false">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="banner">
        <div class="container_wrap3">
          <h1>Connect before your cruise.</h1>
          <div class="offering">
            <h2>What can Project Harmony offer you?</h2>
            <h3>Find your cruise and connect with people going!</h3>
            <div class="real">
              <h4>Connection</h4>
              <div class="col-sm-6">
                <ul class="service_grid">
                  <i class="s1"> </i>
                  <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p><b>Events: </b>Find events happening on your cruise, join, and communicate with passengers that
                      have similar interests. Or create your own event that others can join. Want to start a poker
                      tournament? No problem!</p>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div><!-- COL-SM-6 -->
              <div class="col-sm-6">
                <ul class="service_grid">
                  <i class="s2"> </i>
                  <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p><b>Search: </b>Look for the perfect cruise for you by using the search bar below. Enter a name,
                      place, or event, and then a date range to find a cruise that matches your needs. It's that easy!
                    </p>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div><!-- COL-SM-6 -->
              <div class="clearfix"></div>
            </div><!-- REAL -->
          </div><!-- OFFERING -->
        </div> <!-- CONTAINER WRAP3 -->
      </div><!-- BANNER -->
    </div><!-- ITEM ACTIVE -->


    <div class="item">
      <div class="banner2">
        <div class="container_wrap3">
          <h1>Sharing an experience with others</h1>
          <div class="offering">
            <h2>Making new friends through Project Harmony</h2>
            <h3>Find like-minded families and individuals</h3>
            <div class="real">
              <h4>Sailing together</h4>
              <div class="col-sm-6">
                <ul class="service_grid">
                  <i class="s1"> </i>
                  <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p><b>Sailings: </b>Join your related sailing to find other socials and families alike.
                      Through here you can meet new people to share your wonderous experience with! Join your sailing
                      now to start chatting</p>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div><!-- COL-SM-6 -->
              <div class="col-sm-6">
                <ul class="service_grid">
                  <i class="s2"> </i>
                  <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p><b>Messaging: </b>Want to get to know someone before you set sail? Through a personal messaging
                      and forum style chat service, you can learn about your fellow travellers and their families and share
                      your favourite things to do!
                    </p>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div><!-- COL-SM-6 -->
              <div class="clearfix"></div>
            </div> <!-- REAL -->
          </div><!-- OFFERING -->
        </div><!-- CONTAINER WRAP3 -->
      </div> <!-- BANNER2 -->
    </div><!-- ITEM2 -->

    <div class="item">
      <div class="banner3">
        <div class="container_wrap3">
          <h1>Make a profile now!</h1>
          <div class="offering">
            <h2>Personalize yourself</h2>
            <h3>Share all those great qualities with others!</h3>
            <div class="real">
              <h4>Profile</h4>
              <div class="col-sm-6">
                <ul class="service_grid">
                  <i class="s1"> </i>
                  <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p><b>Profile: </b>Here you can talk about yourself. Let others know just
                      who you are and what you love to do! We're all here anyways so lets get sailing together!</p>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div><!-- COL-SM-6 -->
              <div class="col-sm-6">
                <ul class="service_grid">
                  <i class="s2"> </i>
                  <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p><b>Latin: </b>Lorum ipsum modus ponus, areveli canti osumntum. Savari ilsum no parti. Momentum
                      lagarus flyi ghacta si elserino.
                    </p>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div><!-- COL-SM-6 -->
              <div class="clearfix"></div>
            </div> <!-- REAL -->
          </div> <!-- OFFERING -->
        </div><!-- CONTAINER WRAP3 -->
      </div><!-- BANNER3 -->
    </div> <!-- ITEM 3 -->
  </div><!-- CAROUSEL INNER -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- CAROUSEL SLIDE -->
<!-- END CAROUSEL -->
<!-- SEARCH SECTION -->
<div class="content_top">
  <div class="container">
    <div class="col-md-12 search-bar">
      <!--<form>-->
        <!--<input style="width:25%" type="text" value="Keyword, name, ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Keyword, name, date, ...';}">-->
        <!--<input style="width:25%" type="date" id="datepickerStart" required="true" name="event[start_date]">-->
        <!--<input style="width:25%" type="date" id="datepickerStart" required="true" name="event[start_date]">-->
        <!--<label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>-->
      <!--</form>-->

      <%= search_form_for @search, url: root_path, method: :post do |f| %>
          <div class="field">
            <%= f.label :cruise_ship_name_or_cruise_ship_company_or_destination_identifier_cont, "Cruise Ship Name" %>
            <%= f.text_field :cruise_ship_name_or_cruise_ship_company_or_destination_identifier_cont %>
          </div>
          <div class="field">
            <%= f.label :departure_date_gteq, "Departure Date Between" %>
            <%= f.search_field :departure_date_gteq, :type => "date", :style => "width:25%" %>
            <%= f.label :return_date_lteq, "and" %>
            <%= f.search_field :return_date_lteq, :type => "date", :style => "width:25%" %>
          </div>
          <div class="actions"><%= f.submit "Search" %></div>
      <% end %>

    </div><!-- COL-MD-12 -->

  </div><!-- CONTAINER -->
</div> <!-- CONTENT TOP -->
<!-- END SEARCH SECTION -->
<!-- SAILING CARDS SECTION -->
<div class="content_middle">
<div class="container">
  <div class="middle_grid wow fadeInUp" data-wow-delay="0.4s">
    <!-- ALASKA CRUISES BEGIN -->
        <div class="col-md-4">
          <% @sailings.where("destination_identifier = 'Alaska'").find_each() do |sailing| %>
          <div class="grid1">
            <div class="view view-first">
              <div class="index_img1"><%= image_tag "pic4.jpg" %></div>
              <div class="mask">
                <h2 style="text-align: center">Cruise Info<br/><%= sailing.cruise_ship_name %></h2>
                <!--<h2 style="text-align: center"><br/><%= sailing.cruise_ship_company %></h2>-->
                <div class="inner_wrap1">
                  <h4>Registered Events</h4>
                  <div class="scrolling">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Participants</th>
                      </tr>
                      </thead>
                      <tbody>

                      <% sailing.events.each do |event| %>
                          <tr>
                            <td><%= event.event_name %></td>
                            <td><%= event.description %></td>
                            <td><%= event.max_participants %></td>
                          </tr>
                      <% end %>
                      <% if sailing.events.blank? %>
                          <tr>
                            <td>No Events are currently listed</td>
                          </tr>
                      <% end %>

                      </tbody>
                    </table>
                  </div>
                  <label class="btn1 btn-3 btn-2g">
                    <%= link_to 'Full Details', sailing %>
                  </label>
                </div><!-- INNER_WRAP1 -->
                <div class="clearfix"></div>
                </ul>
              </div><!-- MASK -->
            </div><!-- VIEW VIEW-FIRST -->
            <div class="inner_wrap">
              <ul class="star1">
                <li class="module_left">
                  <!--<h3><%= sailing.cruise_ship_company %></h3>-->
                  <h2><%= sailing.cruise_ship_name %></h2>
                  <h4>No. of Cruisers: 412</h4>
                  <h4>Region: <%= sailing.destination_identifier %> </h4>
                  <!--<h4>Port of Origin: <%= sailing.port_of_origin %> </h4>-->
                  <% sailLength = (sailing.return_date.to_time.to_i - sailing.departure_date.to_time.to_i) / 60 / 60 / 24 %>
                  <h4>Departure: <%= sailing.departure_date.strftime("%B %d, %Y") %> for  <%= sailLength %> days</h4>
                  <!--<h4>Return: <%= sailing.return_date.strftime("%B %d, %Y") %></h4>-->
                  <h2>Who's On Board?</h2>
                  <h4>Top languages spoken: English (30%), Chinese (27%)</h4>
                  <h4>Demographics: 25-35yrs (42%), 50+ (37%)</h4>
                  <h4>Total of <b style="font-size: 25px; text-decoration: underline;">35</b> families going from Project Harmony!</h4>
                  <h4><b style="font-size: 25px; text-decoration: underline;">112</b> Singles going from Project Harmony!</h4>
                </li>
              </ul>
            </div><!-- INNER_WRAP -->
          </div><!-- GRID1 -->
          <% end %>
        </div><!-- COL-MD-4 -->
    <!-- ALASKA CRUISES END -->
    <!-- EUROPE/MEDITERRANEAN CRUISES BEGIN -->
    <div class="col-md-4">
      <% @sailings.where("destination_identifier = 'Europe/Mediterranean'").find_each() do |sailing| %>
          <div class="grid1">
            <div class="view view-first">
              <div class="index_img1"><%= image_tag "pic4.jpg" %></div>
              <div class="mask">
                <h2 style="text-align: center">Cruise Info<br/><%= sailing.cruise_ship_name %></h2>
                <div class="inner_wrap1">
                  <h4>Registered Events</h4>
                  <div class="scrolling">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Participants</th>
                      </tr>
                      </thead>
                      <tbody>

                      <% sailing.events.each do |event| %>
                          <tr>
                            <td><%= event.event_name %></td>
                            <td><%= event.description %></td>
                            <td><%= event.max_participants %></td>
                          </tr>
                      <% end %>
                      <% if sailing.events.blank? %>
                          <tr>
                            <td>No Events are currently listed</td>
                          </tr>
                      <% end %>

                      </tbody>
                    </table>
                  </div>
                  <label class="btn1 btn-3 btn-2g">
                    <%= link_to 'Full Details', sailing %>
                  </label>
                </div><!-- INNER_WRAP1 -->
                <div class="clearfix"></div>
                </ul>
              </div><!-- MASK -->
            </div><!-- VIEW VIEW-FIRST -->
            <div class="inner_wrap">
              <ul class="star1">
                <li class="module_left">
                  <!--<h3><%= sailing.cruise_ship_company %></h3>-->
                  <h2><%= sailing.cruise_ship_name %></h2>
                  <h4>No. of Cruisers: 412</h4>
                  <h4>Region: <%= sailing.destination_identifier %> </h4>
                  <!--<h4>Port of Origin: <%= sailing.port_of_origin %> </h4>-->
                  <% sailLength = (sailing.return_date.to_time.to_i - sailing.departure_date.to_time.to_i) / 60 / 60 / 24 %>
                  <h4>Departure: <%= sailing.departure_date.strftime("%B %d, %Y") %> for  <%= sailLength %> days</h4>
                  <!--<h4>Return: <%= sailing.return_date.strftime("%B %d, %Y") %></h4>-->
                  <h2>Who's On Board?</h2>
                  <h4>Top languages spoken: English (30%), Chinese (27%)</h4>
                  <h4>Demographics: 25-35yrs (42%), 50+ (37%)</h4>
                  <h4>Total of <b style="font-size: 25px; text-decoration: underline;">35</b> families going from Project Harmony!</h4>
                  <h4><b style="font-size: 25px; text-decoration: underline;">112</b> Singles going from Project Harmony!</h4>
                </li>
              </ul>
            </div><!-- INNER_WRAP -->
          </div><!-- GRID1 -->
      <% end %>
    </div><!-- COL-MD-4 -->
    <!-- EUROPE/MEDITERRANEAN CRUISES END -->
    <!-- CARIBBEAN CRUISES BEGIN -->
    <div class="col-md-4">
      <% @sailings.where("destination_identifier = 'Caribbean'").find_each() do |sailing| %>
          <div class="grid1">
            <div class="view view-first">
              <div class="index_img1"><%= image_tag "pic4.jpg" %></div>
              <div class="mask">
                <h2 style="text-align: center">Cruise Info<br/><%= sailing.cruise_ship_name %></h2>
                <div class="inner_wrap1">
                  <h4>Registered Events</h4>
                  <div class="scrolling">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Participants</th>
                      </tr>
                      </thead>
                      <tbody>
                        <% sailing.events.each do |event| %>
                          <tr>
                            <td><%= event.event_name %></td>
                            <td><%= event.description %></td>
                            <td><%= event.max_participants %></td>
                          </tr>
                          <% end %>
                          <% if sailing.events.blank? %>
                          <tr>
                            <td>No Events are currently listed</td>
                          </tr>
                      <% end %>

                      </tbody>
                    </table>
                  </div>
                  <label class="btn1 btn-3 btn-2g">
                    <%= link_to 'Full Details', sailing %>
                  </label>
                </div><!-- INNER_WRAP1 -->
                <div class="clearfix"></div>
                </ul>
              </div><!-- MASK -->
            </div><!-- VIEW VIEW-FIRST -->
            <div class="inner_wrap">
              <ul class="star1">
                <li class="module_left">
                  <!--<h3><%= sailing.cruise_ship_company %></h3>-->
                  <h2><%= sailing.cruise_ship_name %></h2>
                  <h4>No. of Cruisers: 412</h4>
                  <h4>Region: <%= sailing.destination_identifier %> </h4>
                  <!--<h4>Port of Origin: <%= sailing.port_of_origin %> </h4>-->
                  <% sailLength = (sailing.return_date.to_time.to_i - sailing.departure_date.to_time.to_i) / 60 / 60 / 24 %>
                  <h4>Departure: <%= sailing.departure_date.strftime("%B %d, %Y") %> for  <%= sailLength %> days</h4>
                  <!--<h4>Return: <%= sailing.return_date.strftime("%B %d, %Y") %></h4>-->
                  <h2>Who's On Board?</h2>
                  <h4>Top languages spoken: English (30%), Chinese (27%)</h4>
                  <h4>Demographics: 25-35yrs (42%), 50+ (37%)</h4>
                  <h4>Total of <b style="font-size: 25px; text-decoration: underline;">35</b> families going from Project Harmony!</h4>
                  <h4><b style="font-size: 25px; text-decoration: underline;">112</b> Singles going from Project Harmony!</h4>
                </li>
              </ul>
            </div><!-- INNER_WRAP -->
          </div><!-- GRID1 -->
      <% end %>
    </div><!-- COL-MD-4 -->
    <!-- CARIBBEAN CRUISES END -->
  </div><!-- MIDDLE GRID -->
</div><!-- CONTAINER -->
</div>
<!-- END SAILING SECTION -->
<div class="offering">
</div>
<div class="footer">
  <div class="container">
    <div class="footer_grids">
      <div class="footer-grid">
        <!-- More content can go here -->
      </div>
      <div class="footer-grid">
        <!-- More content can go here -->
      </div>
      <div class="footer-grid last_grid">
        <!-- More content can go here -->
        <div class="copy wow fadeInRight" data-wow-delay="0.4s">
          <p> &copy; 2016 Project Harmony. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
          </p>
        </div>

        <div class="copy wow fadeInRight" data-wow-delay="0.4s">
          <p>Update: Thursday, May 19</p>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div><!-- CONTAINER -->
</div><!-- End FOOTER -->

<!-- Test Data
      <table>
        <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
        </thead>
      <tbody>
      <tr>
        <th>Ship Name</th>
        <th>Company</th>
        <th>Departure Date</th>
        <th>Return Date</th>
      </tr>
      <% @sailings.each do |sailing| %>
          <tr>
            <td><%= link_to sailing.cruise_ship_name, sailing %></td>
            <td><%= sailing.cruise_ship_company %></td>
            <td><%= sailing.departure_date.strftime("%B %d, %Y") %></td>
            <td><%= sailing.return_date.strftime("%B %d, %Y") %></td>
          </tr>
      <% end %>
      </tbody>
      </table>
      <!-- End Test Data-->