<!--<p id="notice"><%= notice %></p>-->

<!--<%= link_to 'Edit', edit_event_path(@event) %> | -->
<!--<%= link_to 'Back', events_path %>-->

<style>
  tr.spaceUnder > td
  {
    padding-bottom: 1em;
  }
</style>

<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-md-2">
          <table style="margin-left: 1em; margin-top: 1em">
            <tr class="spaceUnder">
              <td>
                <a href="/profile/1"><%= image_tag "profile/profile1.jpg", size: "100x100", :class => "img-responsive" %></a></td>
              </td>
            </tr>
            <tr class="spaceUnder">
              <td>
                <a href="/profile/1"><%= image_tag "profile/profile2.jpg", size: "100x100", :class => "img-responsive" %></a></td>
              </td>
            </tr>
            <tr class="spaceUnder">
              <td>
                <a href="/profile/1"><%= image_tag "profile/profile3.jpg", size: "100x100", :class => "img-responsive" %></a></td>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-7">
          <div class="row" style="margin-top: 1em">
            <div class="col-md-6">
             <h2>Mexican Fiesta</h2>
            </div>
            <div class="col-md-6" style="text-align: center">
              <a href="" class="btn btn-success">Join and RSVP</a>
            </div>
          </div>
            <hr class="hr-line" style="margin-top: 0">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <h3> May 10-12, 2016</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <h3>Ola amigos! Fiesta Arriba</h3>
                <p>
                  Come meet with at us Royal Carribean Cruises and experience an authentic mexican party!
                </p>
              </div>
              <div class="col-md-1">
                <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </div>
              <div class="col-md-11">
                <a href="">Salvador Gonzalez</a> <span> - organizer </span>
              </div>
              <p>
                Invite your amigos over to fiesta like there's no mañana! Set the scene for
                fun by stringing up a colorful bandana bunting over a table styled with sombreros,
                serapes and Mexican soda bottles. Mini sombreros, maraca favors
                and moustache straws take the table from ordinary to !olé!
                Don't forget super-caliente funwear for photobooth pics!
              </p>
              <br>
              <p>
                This event is open to everyone. If you are booked at Royal Carribean Cruises during the said date,
                then you are very welcome to join.
              </p>
            </div>
          <hr class="hr-line">
              <h2 style="text-align: center"> comments </h2>
          <hr class="hr-line">

          <table class="table">
            <tr>
              <td><img src="https://placeimg.com/50/50/people" alt="..."><br>Craig</td>
              <td class="sailing-info">
                <p class="comment">Hello! I will be on this cruise from May 2-10 and I very excited to attend. I've been in
                  a mexican fiesta before and It was fantastic. Looking Forward to this event</p>
                <p class="comment comment-date-time" align="right">
                  Sunday, May 1, 2016 , 5:30 PM
                </p>
              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/50/50/people" alt="..."><br>Salvador</td>
              <td class="sailing-info">
                <p class="comment">Hi Craig, Good to hear. See you at the cruise!</p>
                <p class="comment comment-date-time" align="right">
                  Sunday, May 4, 2016 , 5:30 PM
                </p>
              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/50/50/people" alt="..."><br>Emy</td>
              <td class="sailing-info">
                <p class="comment">I will be in this cruise by May 13, Is it possible to extend the date? Really want
                  to join this event.</p>
                <p class="comment comment-date-time" align="right">
                  Sunday, May 4, 2016 , 5:30 PM
                </p>
              </td>
            </tr>
          </table>

        </div>
        <div class="col-md-3">
          <img class="avatar" src="https://placeimg.com/240/270/tech" alt="..."><br><br>
          <a href=""><h3 style="text-align: center">Royal Caribbean
            Allure of the Seas</h3></a>
          <br><br>
          <div style="text-align: center">
            <a href="" class="btn btn-primary">message vacationers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

