
<style>
  tr.spaceUnder > td
  {
    padding-bottom: 1em;
  }
</style>

<script>
    function pop(tag, id){
      $('#'+tag).webuiPopover({
        type:'async',
        url:'/popover/' + id,
        content: function( data){
             console.log(id)
            var html = '<h5 style="text-align: center">Recent Sailings and Events Joined</h5><table class="table"><tr><th>Event</th><th>Cruise</th></tr>';
            for(var key in data){html+='<tr><td>'+ data[key].event_name+'</td>' + '<td>' + data[key].cruise_ship_name +'</td></tr>';}
            html+='</table>';
            return html;
        }, trigger:'hover',animation:'pop'
      });
    }
</script>

<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-md-2">
          <!-- ATTENDEES -->
          <h3 style="text-align: center; padding-top: 1.3em"><%= @users.count%> Attending</h3>
          <table class="table"  style="margin-left: 1em; margin-top: 1em">
            <% @users.each do |u|%>
                <tr class="spaceUnder">
                  <td width="40%">
                    <a href="/profile/<%= u.user_id %>">
                      <%= image_tag u.avatar.url(:small), :id=> "pop#{u.user_id}", :size => "100x100", :class => "pop", 'onmouseover'=> "pop('pop#{u.user_id}',#{u.user_id})" ,'data-title' => "#{u.first_name} #{u.last_name}"  , 'data-placement'=> 'horizontal' %>
                      <br><%= u.first_name %>
                    </a>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>

        <div class="col-md-7">
          <!-- EVENT NAME -->
          <div class="row" style="margin-top: 1em">
            <div class="col-md-6">
             <h2><%= @event.event_name %></h2>
            </div>
            <div class="col-md-6" style="text-align: center">
              <%= button_to 'Join This Event', "/event_register/create/#{@event.id}", :method=>:post , class: "btn btn-success"%>
            </div>
          </div>

          <!-- DETAILS -->
            <hr class="hr-line" style="margin-top: 0">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <h3> <%= @event.start_date.to_formatted_s(:long) %> - <%=@event.end_date.to_formatted_s(:long)%></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <h3><%= @event.location %></h3>
              </div>
              <div class="col-md-1">

                <%= form_tag(new_conversation_path) do %>
                    <input name="recipients[]" type="hidden" value="<%= @event.creator_id %>"/>
                    <button type="submit" style="border:none; background: transparent"><i class="fa fa-envelope-o ship-name" aria-hidden="true"></i></button>
                <% end %>
              </div>
              <div class="col-md-11">
                <a href="/profile/<%= @event.creator_id%>"><span class="ship-name"><%= User.find_by_id(@event.creator_id).name%></span></a> <span> - organizer </span>
              </div>

              <!-- DESCRIPTION -->
              <p>
                <%= @event.description%>
              </p>
              <br>

            </div>

          <!-- COMMENT -->
          <hr class="hr-line">
              <h2 style="text-align: center"> comments </h2>
          <hr class="hr-line">

          <table class="table">
            <% @comments.each do |c|%>
            <tr>
              <td width="12%"><a href="/profile/<%= c.user_id %>"> <%= image_tag DetailedUser.find_by_user_id(c.user_id).avatar.url(:small) , size: "50x50" %><br><span class="ship-name"><%= DetailedUser.find_by_user_id(c.user_id).first_name %></span></a></td>
              <td class="sailing-info">
                <p class="comment"><%= c.text%></p>
                <p class="comment comment-date-time" align="right">
                  <%= c.created_at.strftime("%A, %b %d, %Y at %I:%M%p")%>
                </p>
              </td>
            </tr>

             <% end %>
          </table>

          <%= form_tag("/comment") do %>
              <%= hidden_field(:comment, :user_id, :value => current_user.id) %>
              <%= hidden_field(:comment, :event_id, :value => @event.id) %>
            <div class="form-group">
              <%= text_area(:comment, :text, rows: 4 , class: "form-control", required: "required") %>
            </div>
            <div style="text-align: center">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          <% end %>
        </div>
        <div class="col-md-3" style="text-align: center;">
          <%= image_tag @event.image.url(:thumb) , id: 'event-image' , class: "img-responsive"%><br><br><br>
          <div style="text-align: center;">
            <h3>Cruise</h3>
            <a href="/sailings/<%= @event.sailing_id%>"><span class="ship-name"><%= Sailing.find_by_id(@event.sailing_id).cruise_ship_name%></span></a>

          </div>
          <br><br>
          <div style="text-align: center">
            <%= form_tag(new_conversation_path) do %>
                <% @users.each do |u|%>
                  <input name="recipients[]" type="hidden" value="<%= u.user_id %>"/>
                <% end %>
                <%= submit_tag("Message Vacationers", class: "btn btn-primary") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>