
<style>
  tr.spaceUnder > td
  {
    padding-bottom: 1em;
  }
</style>
<script>
  $(document).ready(function(){
//    $('.pop').webuiPopover({title:'Title',content:'Content',trigger:'hover'});

    $('.pop').webuiPopover({title:'Title',
      type:'async',
      url:'https://api.github.com/',
      content:function(data){
        var html = '<ul>';
        for(var key in data){html+='<li>'+data[key]+'</li>';}
        html+='</ul>';
        return html;
      }, trigger:'hover'
    });
  });
</script>
<div class="dashboard">
  <div class="container">
    <div class="dashboard-info">
      <div class="row">
        <div class="col-md-2">
          <!-- ATTENDEES -->
          <table style="margin-left: 1em; margin-top: 1em">
            <tr class="spaceUnder">
              <td>
                <a href="/profile/1">
                  <%= image_tag "profile/profile2.jpg", size: "100x100", :class => "img-responsive pop", 'data-title' => 'title' , 'data-placement'=>"horizontal" %></a></td>
              </td>
            </tr>
            <tr class="spaceUnder">
              <td>
                <a href="/profile/1"  class="pop"  data-title="Title" data-content="Contents..." data-placement="auto-right">
                  <%= image_tag "profile/profile3.jpg", size: "100x100", :class => "img-responsive" %></a></td>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-md-7">
          <!-- EVENT NAME -->
          <div class="row" style="margin-top: 1em">
            <div class="col-md-6">
             <h2><%= @event.event_name %></h2>
            </div>
            <div class="col-md-6" style="text-align: center">
              <a href="" class="btn btn-success">Join and RSVP</a>
            </div>
          </div>

          <!-- DETAILS -->
            <hr class="hr-line" style="margin-top: 0">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <h3> <%= @event.start_date.to_formatted_s(:long) %> - <%=@event.end_date.to_formatted_s(:long)%></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <h3><%= @event.location %></h3>
              </div>
              <div class="col-md-1">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>
              <div class="col-md-11">
                <a href=""><span class="ship-name"><%= User.find_by_id(@event.creator_id).name%></span></a> <span> - organizer </span>
              </div>

              <!-- DESCRIPTION -->
              <p>
                <%= @event.description%>
              </p>
              <br>

            </div>
          <hr class="hr-line">
              <h2 style="text-align: center"> comments </h2>
          <hr class="hr-line">

          <table class="table">
            <tr>
              <td><img src="https://placeimg.com/50/50/people" alt="..."><br>Craig</td>
              <td class="sailing-info">
                <p class="comment">Hello! I will be on this cruise from May 2-10 and I very excited to attend. I've been in
                  a mexican fiesta before and It was fantastic. Looking Forward to this event</p>
                <p class="comment comment-date-time" align="right">
                  Sunday, May 1, 2016 , 5:30 PM
                </p>
              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/50/50/people" alt="..."><br>Salvador</td>
              <td class="sailing-info">
                <p class="comment">Hi Craig, Good to hear. See you at the cruise!</p>
                <p class="comment comment-date-time" align="right">
                  Sunday, May 4, 2016 , 5:30 PM
                </p>
              </td>
            </tr>
            <tr>
              <td><img src="https://placeimg.com/50/50/people" alt="..."><br>Emy</td>
              <td class="sailing-info">
                <p class="comment">I will be in this cruise by May 13, Is it possible to extend the date? Really want
                  to join this event.</p>
                <p class="comment comment-date-time" align="right">
                  Sunday, May 4, 2016 , 5:30 PM
                </p>
              </td>
            </tr>
          </table>

        </div>
        <div class="col-md-3">
          <%= image_tag @event.image.url(:thumb) , class: 'avatar'%><br><br><br>
          <div style="text-align: center;">
            <h3>Cruise</h3>
            <a href="/sailings/<%= @event.sailing_id%>"><span class="ship-name"><%= Sailing.find_by_id(@event.sailing_id).cruise_ship_name%></span></a>

          </div>
          <br><br>
          <div style="text-align: center">
            <a href="" class="btn btn-primary">message vacationers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>