<%= form_for @detailed_user, html: { multipart: true } do |f| %>
    <% if @detailed_user.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@detailed_user.errors.count, "error") %> Invalid Data Entry</h3>
          <ul>
            <% @detailed_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <!-- USER NAME -->
      <input type="hidden" name="detailed_user[user_id]" value="<%= @user_id %>">
      <fieldset class="form-group form-inline input-group-lg">
        <div class="formBoxes">
          <label class="label2" for="firstName">First Name</label>
          <input type="text" class="form-control" name="detailed_user[first_name]"  placeholder="Enter your first name..." pattern="[A-Za-z]+" title="Only letters allowed" required>
        </div>
        <div class="formBoxes">
          <label class="label2" for="LastName">Last Name</label>
          <input type="text" class="form-control" name="detailed_user[last_name]"  pattern="[A-Za-z]+" required title="Only letters allowed" id="lName" placeholder="Enter your Last name..." >
        </div>
      </fieldset>
      <!-- USER NAME END -->

      <!-- BIRTHDAY -->
      <fieldset class="form-group form-inline input-group-lg">
        <div class="formBoxes">
          <label class="label3">Birth Date</label>
          <input class="form-control" type="date" name="detailed_user[birth_day]">
        </div>
      </fieldset>

      <!-- GENDER -->
      <fieldset class="form-group row radLabel">
        <label class="col-sm-2">Select Gender</label>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[gender]" id="rad1" value="MaleOpt" checked>
              Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[gender]" id="rad2" value="FemaleOpt">
              Female
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[gender]" id="rad3" value="OtherOpt">
              Other
            </label>
          </div>
        </div>

        <!-- SEXUAL ORIENTATION -->
        <label class="col-sm-2">Sexual Orientation</label>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="orientation" id="rad1" value="MaleOpt" checked>
              Straight or Heterosexual
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[sexual_orientation]" id="rad2" value="FemaleOpt">
              Lesbian,Gay, Homosexual
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[sexual_orientation]" id="rad3" value="OtherOpt">
              Bisexual
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[sexual_orientation]" id="rad3" value="OtherOpt">
              Don't Know
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="detailed_user[sexual_orientation]" id="rad3" value="OtherOpt">
              Something Else
            </label>
          </div>
        </div>
      </fieldset>

      <!-- Language Select -->
      <fieldset class="form-group form-inline input-group-lg">
        <div class="formBoxes2">
          <label class="label2" for="firstName">Primary Language</label>
          <%= select_tag "detailed_user[primary_language]", options_from_collection_for_select(@languages, "language", "language"), {:include_blank => "Language Select",:class => "form-control", :required => "true"}  %>
        </div>
        <div class="formBoxes2">
          <label class="label2" for="LastName">Secondary Language</label>
          <%= select_tag "detailed_user[secondary_language]", options_from_collection_for_select(@languages, "language", "language"), {:include_blank => "Language Select",:class => "form-control", :required => "true"}  %>
        </div>
      </fieldset>

      <!-- Language Select -->
      <div class="form-group input-group-lg">
        <div class="formBoxes">
          <label class="label2">About</label>
          <textarea class="form-control mytextarea" name="detailed_user[description]" rows="6" placeholder="Tell us about yourself?"></textarea>
        </div>
      </div>
      <fieldset class="form-group">
        <div class="filebox">
          <label for="InputFile">Select a Profile Picture</label>
          <!--<input type="file" class="form-control-file" id="InputFile">-->
          <%= f.file_field :avatar %>
        </div>
      </fieldset>
      <%= f.submit %>
    </div>
<% end %>

