<<<<<<< HEAD
<h1>Sailings#index</h1>
<p>Find me in app/views/sailings/index.html.erb</p>
<div class="header">
  <div class="col-sm-8 header-left">
    <div class="logo">
      <a href="index.html"><%= image_tag"newlogo.png" %></a>
    </div>
    <div class="menu">
      <a class="toggleMenu" href="#"><%= image_tag "nav.png" %></a>
      <ul class="nav" id="nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="rooms.html">Sailings</a></li>
        <li><a href="news.html">Events</a></li>
        <li><a href="gallery.html">Search</a></li>
        <li><a href="404.html">My Dashboard</a></li>
        <div class="clearfix"></div>
      </ul>
      <!--<script type="text/javascript" src="js/responsive-nav.js"></script>-->
    </div>
    <!-- start search-->
    <div class="search-box">
      <div id="sb-search" class="sb-search">
        <form>
          <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
          <input class="sb-search-submit" type="submit" value="">
          <span class="sb-icon-search"> </span>
        </form>
      </div>
    </div>
    <!----search-scripts---->
    <!--<script src="js/classie.js"></script>-->
    <!--<script src="js/uisearch.js"></script>-->
    <script>
      new UISearch( document.getElementById( 'sb-search' ) );
    </script>
    <!----//search-scripts---->
    <div class="clearfix"></div>
  </div>
  <div class="col-sm-4 header_right">
    <div id="loginContainer">
      <% if !user_signed_in? %>
          <%= image_tag "login.png" %><%= link_to "Login", new_user_session_path %>
      <% end %>
      <% if user_signed_in? %>
          Hello <%= current_user.email %>, <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
=======
<p id="notice"><%= notice %></p>

<h1>Listing Sailings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sailings.each do |sailing| %>
      <tr>
        <td><%= link_to 'Show', sailing %></td>
        <td><%= link_to 'Edit', edit_sailing_path(sailing) %></td>
        <td><%= link_to 'Destroy', sailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sailing', new_sailing_path %>
>>>>>>> 79362cc41fd930f712bd0003372fa17b251f68b8
