<p id="notice"><%= notice %></p>

<h1>Listing Sailings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <th>Ship Name</th>
    <th>Company</th>
    <th>Departure Date</th>
    <th>Return Date</th>
  </tr>
    <% @sailings.each do |sailing| %>
      <tr>
        <td><%= sailing.cruise_ship_name %></td>
        <td><%= sailing.cruise_ship_company %></td>
        <td><%= sailing.departure_date.strftime("%B %d, %Y") %></td>
        <td><%= sailing.return_date.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Show', sailing %></td>
        <td><%= link_to 'Edit', edit_sailing_path(sailing) %></td>
        <td><%= link_to 'Destroy', sailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sailing', new_sailing_path %>
