<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
  <title>Project Harmony</title>
  <!--<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />-->
  <!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
  <!--&lt;!&ndash; Custom Theme files &ndash;&gt;-->
  <!--<link href="css/style.css" rel='stylesheet' type='text/css' />-->
  <!--&lt;!&ndash; Custom Theme files &ndash;&gt;-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--<meta name="keywords" content="Hotel Deluxe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
<!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />-->
  <!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
  <!--&lt;!&ndash;webfont&ndash;&gt;-->
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">-->


  <!--<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>-->
  <!--<script type="text/javascript" src="js/login.js"></script>-->
  <!--<script src="js/jquery.easydropdown.js"></script>-->
  <!--&lt;!&ndash;Animation&ndash;&gt;-->
  <!--<script src="js/wow.min.js"></script>-->
  <!--<link href="css/animate.css" rel='stylesheet' type='text/css' />-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    new WOW().init();
  </script>


</head>
<body>
<!-- Display login/logout messages to user. (Devise) -->
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->
<%= render  "shared/nav" %>
<% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
      <%= value %>
    </div>
<% end %>

<%= yield %>

</body>
</html>
